<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Simple-socmed">
        <meta name="author" content="Davin N">
        <title>Simple Social Media - Home Page</title>
        <link rel="icon" href="/gambar/logo.png">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/custom/beranda.css">
        <link rel="stylesheet" href="/custom/cover.css">
        <script src="/bootstrap/js/bootstrap.js"></script>
    </head>
  
    <body class="d-flex h-100 text-center text-bg-dark">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-auto">
                <div>
                    <h3 class="float-md-start mb-0">SocMed</h3>
                    <nav class="nav nav-masthead justify-content-center float-md-end">
                        <a class="nav-link fw-bold py-1 px-0 active" href="/">Beranda</a>
                        <a class="nav-link fw-bold py-1 px-0" href="/login">Login</a>
                    </nav>
                </div>
            </header>

            <main class="px-3">
                <h1>Social media.</h1>
                <p class="lead">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    Dolorum amet dicta labore quod veniam incidunt quas iure laborum praesentium sit, 
                    minima dolore quos delectus accusamus? Iusto error esse sint delectus?
                </p>
                <p class="lead">
                <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Lihat selengkapnya ...</a>
                </p>
            </main>

            <footer class="mt-auto text-white-50">
                <p>Made by Davin</p>
            </footer>
        </div>
    </body>
</html>